@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <form asp-controller="Investigation" asp-action="Form" method="post">
        <input type="text" name="Uri" placeholder="https://" />
        <input type="submit" value="Search" />
    </form>
</div>
