@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<div class="alert alert-info" role="alert">
    <p>指定したURLの文字エンコーディング指定が妥当かどうかを捜査します。</p>
    <p><strong>「文字コード警察だ！」</strong></p>
</div>
